# 作業一：請針對所提供的資料檔案(boston_house(type),xlsx)進行以下分析：
1. 請計算此資料中房價的平均數、中位數、變異數與標準差。
2. 請計算此資料中房價超過20(PRICE TYPE=2)與低於20(PRICE TYPE=0)的個數及比例。
3. 請計算是否臨近Carles River(CHAS=0 or CHAS=1)地區房價之差異。
4. 請計算是否臨近Carles River(CHAS=0 or CHAS=1)地區房價高低之差異。
5. 請分析因素與房價高低具有較高的關聯性？

In [ ]:
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
from google.colab import files
data=pd.read_excel('boston_house(type).xlsx')

In [ ]:
#第一題
print(data.describe().loc[["mean","min","std"],["PRICE"]])
print('var  ',data["PRICE"].var())

          PRICE
mean  22.532806
min    5.000000
std    9.197104
var   84.5867235940986

In [ ]:
#第二題
f=data.groupby('PRICE TYPE')
frequence=f.size()
flist=pd.DataFrame(frequence,columns=["COUNT"])
print(flist)
print('= = = = = = = = = = = = = = = ')
f=data.groupby('PRICE TYPE')
percentage=f.size()/len(data)
plist=pd.DataFrame(percentage,columns=["PERCENTAGE"])
print(plist)

            COUNT
PRICE TYPE
1             215
2             291
= = = = = = = = = = = = = = =
            PERCENTAGE
PRICE TYPE
1             0.424901
2             0.575099

In [ ]:
#第三題 相關分析
import numpy as np
np.corrcoef(data["CHAS"],data["PRICE"])

array([[1.        , 0.17526018],
       [0.17526018, 1.        ]])

In [ ]:
#第四題 交叉分析
a=data.groupby(['CHAS']).mean()
a[["PRICE"]]

          PRICE
CHAS
0     22.093843
1     28.440000

In [ ]:
#第五題 皮爾森相關分析
qu=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','PRICE','PRICE TYPE']
len(qu)
from scipy import stats
name=[]
alist=[]
for i in range(len(qu)):
  (a,pv)=stats.pearsonr(data['PRICE'],data[qu[i]]) 
  name.append(qu[i])
  alist.append(a)
result=pd.DataFrame(alist,name,columns=['r'])
result.sort_values(by=['r'])[::-1]

                   r
PRICE       1.000000
RM          0.695360
PRICE TYPE  0.686648
ZN          0.360445
B           0.333461
DIS         0.249929
CHAS        0.175260
AGE        -0.376955
RAD        -0.381626
CRIM       -0.385832
NOX        -0.427321
TAX        -0.468536
INDUS      -0.483725
PTRATIO    -0.507787
LSTAT      -0.737663