In [ ]:
#載入執行程式所需套件
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns

In [ ]:
#讀取檔案，將檔案名稱設為data
from google.colab import files
data=pd.read_excel('2019STA.xlsx')

In [ ]:
#讀取檔案前五列資料
data.head()

  Department Grade Gender  Quiz  Exam
0         BA    一A      M    81  72.0
1         BA    一A      M    80  87.5
2         BA    一A      M    69  74.0
3         BA    一A      F    58  52.0
4         BA    一A      M    82  76.0

In [ ]:
#讀取檔案各欄位基本資訊
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Department  57 non-null     object
 1   Grade       57 non-null     object
 2   Gender      57 non-null     object
 3   Quiz        57 non-null     int64
 4   Exam        57 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.4+ KB

In [ ]:
data.to_numpy()

array([['BA', '一A', 'M', 81, 72.0],
       ['BA', '一A', 'M', 80, 87.5],
       ['BA', '一A', 'M', 69, 74.0],
       ['BA', '一A', 'F', 58, 52.0],
       ['BA', '一A', 'M', 82, 76.0],
       ['BA', '一A', 'F', 81, 69.5],
       ['BA', '一A', 'F', 87, 92.0],
       ['BA', '一A', 'F', 95, 100.0],
       ['BA', '一A', 'M', 69, 71.5],
       ['BA', '一A', 'F', 83, 86.0],
       ['BA', '一A', 'F', 77, 77.0],
       ['BA', '一A', 'M', 54, 54.0],
       ['BA', '一A', 'M', 83, 75.0],
       ['BA', '一A', 'M', 72, 66.0],
       ['BA', '一A', 'M', 91, 93.0],
       ['BA', '一A', 'F', 67, 73.5],
       ['BA', '一A', 'M', 67, 69.5],
       ['BA', '一A', 'F', 70, 79.5],
       ['BA', '一A', 'M', 42, 34.5],
       ['BA', '一A', 'F', 76, 41.0],
       ['BA', '一A', 'M', 64, 76.0],
       ['BA', '一A', 'F', 80, 75.0],
       ['BA', '一A', 'M', 22, 39.5],
       ['BA', '一A', 'F', 49, 49.0],
       ['BA', '一A', 'M', 46, 57.0],
       ['BA', '一A', 'M', 73, 72.0],
       ['BA', '一A', 'M', 53, 54.0],
       ['BA', '一A', 'F', 34, 28.5],
       ['BA', '一A', 'M', 57, 50.5],
       ['BA', '一A', 'M', 69, 42.0],
       ['BA', '一A', 'M', 20, 18.0],
       ['BA', '一A', 'F', 42, 51.5],
       ['BA', '一A', 'M', 40, 28.0],
       ['BA', '一A', 'M', 18, 29.0],
       ['BA', '一A', 'F', 81, 84.5],
       ['BA', '一A', 'M', 69, 70.5],
       ['BA', '一A', 'M', 12, 15.5],
       ['BA', '一A', 'M', 8, 2.5],
       ['BA', '一A', 'M', 20, 12.5],
       ['BA', '三A', 'F', 60, 45.5],
       ['BA', '三A', 'M', 12, 25.0],
       ['BA', '三A', 'M', 48, 42.0],
       ['BA', '三A', 'M', 24, 35.0],
       ['FM', '一A', 'F', 79, 97.0],
       ['FM', '一A', 'F', 36, 37.0],
       ['FM', '一A', 'M', 80, 84.5],
       ['FM', '一A', 'F', 85, 87.0],
       ['FM', '一A', 'F', 56, 73.5],
       ['FM', '一A', 'F', 38, 36.0],
       ['FM', '二A', 'F', 87, 84.5],
       ['FM', '二A', 'F', 91, 75.5],
       ['FM', '二A', 'M', 97, 98.0],
       ['FM', '二A', 'F', 79, 75.5],
       ['FM', '二A', 'F', 87, 93.0],
       ['FM', '二A', 'F', 96, 94.0],
       ['FM', '二A', 'F', 79, 81.0],
       ['FM', '二A', 'F', 68, 70.5]], dtype=object)

In [ ]:
#計算各欄位個數
data.count()

Department    57
Grade         57
Gender        57
Quiz          57
Exam          57
dtype: int64

# 單一數量資料分析：平均數、中位數、變異數、標準差

In [ ]:
df = pd.read_excel("/content/nba2.xlsx")

In [ ]:
df.describe().iloc[1:3, 2:4]

           W/E       W/L
mean  1.500000  0.500000
std   0.500102  0.500102

In [ ]:
df.describe()

          R/P          H/R          W/E  ...    REST DAYS  OPENING ODDS       SPREAD
count  2460.0  2460.000000  2460.000000  ...  2460.000000   2460.000000  2460.000000
mean      1.0     1.500000     1.500000  ...     1.037398    102.493902     0.000000
std       0.0     0.500102     0.500102  ...     0.735593    108.452662     6.829624
min       1.0     1.000000     1.000000  ...     0.000000    -22.000000   -22.000000
25%       1.0     1.000000     1.000000  ...     1.000000     -5.000000    -5.000000
50%       1.0     1.500000     1.500000  ...     1.000000     90.000000     0.000000
75%       1.0     2.000000     2.000000  ...     1.000000    210.500000     5.000000
max       1.0     2.000000     2.000000  ...     3.000000    241.000000    22.000000

[8 rows x 40 columns]

In [ ]:
len(df.columns)

43

In [ ]:
df.describe().loc[["std", "mean"], ["H/R", "W/E"]]#列行

           H/R       W/E
std   0.500102  0.500102
mean  1.500000  1.500000

In [ ]:
#計算「3P」欄位資料之平均數
data['3P'].mean()

KeyError: ignored

In [ ]:
#計算「3P」欄位資料之中位數
data['3P'].median()

KeyError: ignored

In [ ]:
#計算「1Q」欄位資料之變異數
data["1Q"].var()

KeyError: ignored

In [ ]:
#計算「1Q」欄位資料之標準差
data["1Q"].std()

5.836191891791768

In [ ]:
#計算「TO」欄位資料之平均數,取小數點到第三位
"%.3f"%data["TO"].mean()

'13.379'

In [ ]:
#計算所有欄位資料之平均數
data.mean()

R/P               1.000000
H/R               1.500000
W/E               1.500000
W/L               0.500000
DIFF              0.000000
1Q               26.532927
2Q               26.548780
3Q               26.037805
4Q               25.772764
F               105.590650
MIN             241.626016
FG               39.049187
FGA              85.396748
3P                9.653659
3PA              26.997154
FT               17.838211
FTA              23.110976
OR               10.141463
ORR              10.141463
DRR              33.369106
FT%               0.211578
TOV%              0.122649
EFG%              0.515153
DRB%              0.768876
ORB%              0.231124
DR               33.369106
TOT              43.510569
A                22.626016
PF               19.898374
ST                7.712195
TO               13.378862
BL                4.758130
PTS             105.590244
POSS             97.017642
PACE             96.368780
OEFF            108.889756
DEFF            108.889756
REST DAYS         1.037398
OPENING ODDS    102.493902
SPREAD            0.000000
dtype: float64

In [ ]:
#計算所有欄位資料之描述性統計量
data.describe()

            Quiz        Exam
count  57.000000   57.000000
mean   62.157895   61.991228
std    24.400519   24.797302
min     8.000000    2.500000
25%    46.000000   42.000000
50%    69.000000   70.500000
75%    81.000000   79.500000
max    97.000000  100.000000

In [ ]:
#將所得的描述性統計量的統計陣列設為a
a = data.describe()

In [ ]:
#取描述性統計量的統計陣列中的兩個欄位「1Q」及「2Q」
a[['1Q','2Q']]

                1Q          2Q
count  2460.000000  2460.00000
mean     26.532927    26.54878
std       5.836192     5.77366
min       8.000000     9.00000
25%      23.000000    23.00000
50%      27.000000    27.00000
75%      30.000000    30.00000
max      47.000000    44.00000

In [ ]:
#DataFrame.loc
#Access a group of rows and columns by label(s) or a boolean array.
#取a陣列中兩個欄位「1Q」及「4Q」
a.loc[:, ["1Q","4Q"]]

                1Q           4Q
count  2460.000000  2460.000000
mean     26.532927    25.772764
std       5.836192     5.912538
min       8.000000     8.000000
25%      23.000000    22.000000
50%      27.000000    26.000000
75%      30.000000    30.000000
max      47.000000    47.000000

In [ ]:
#DataFrame.iloc
#Access group of rows and columns by integer position(s).
#取a陣列中第三行至第四行
a.iloc[: , 3:5]

               W/L         DIFF
count  2460.000000  2460.000000
mean      0.500000     0.000000
std       0.500102    14.041158
min       0.000000   -49.000000
25%       0.000000    -9.000000
50%       0.500000     0.000000
75%       1.000000     9.000000
max       1.000000    49.000000

In [ ]:
#取a陣列中第一行至第二行＆第五行至第六行
a.iloc[1:3, 5:7]

             1Q        2Q
mean  26.532927  26.54878
std    5.836192   5.77366

# Exercise:請計算「2019STA.xlsx」檔案中小考及期中考的平均數與標準差

In [ ]:
data.describe()

            Quiz        Exam
count  57.000000   57.000000
mean   62.157895   61.991228
std    24.400519   24.797302
min     8.000000    2.500000
25%    46.000000   42.000000
50%    69.000000   70.500000
75%    81.000000   79.500000
max    97.000000  100.000000

In [ ]:
data.describe().iloc[1:3, :]

           Quiz       Exam
mean  62.157895  61.991228
std   24.400519  24.797302

# 單一類別資料分析：次數分配與相對次數分配

In [ ]:
#使用groupby將資料以主客場分組
f=data.groupby('Gender')
#用size()看f裡面每個組別內的大小
percentage=f.size()/len(data)
#將percentage做成dataframe形式，並將資料columns命名為Percentage_VENUE
plist=pd.DataFrame(percentage,columns=["Percentage_VENUE"])
plist

        Percentage_VENUE
Gender
F               0.473684
M               0.526316

In [ ]:
f=data.groupby('H/R')
#用size()看f裡面每個組別內的大小
frequence=f.size()
#將frequence做成dataframe形式，並將資料columns命名為Frequence_VENUE
flist=pd.DataFrame(frequence,columns=["Frequence_VENUE"])
flist

     Frequence_VENUE
H/R
1               1230
2               1230

In [ ]:
#利用merge功能合併flist與plist兩個陣列
flist.merge(plist,on = 'H/R',how = 'inner')#內連線，取交集

     Frequence_VENUE  Percentage_VENUE
H/R
1               1230               0.5
2               1230               0.5

# Exercise:請計算「2019STA.xlsx」檔案中男女生比例

In [ ]:
data

   Department Grade Gender  Quiz   Exam
0          BA    一A      M    81   72.0
1          BA    一A      M    80   87.5
2          BA    一A      M    69   74.0
3          BA    一A      F    58   52.0
4          BA    一A      M    82   76.0
5          BA    一A      F    81   69.5
6          BA    一A      F    87   92.0
7          BA    一A      F    95  100.0
8          BA    一A      M    69   71.5
9          BA    一A      F    83   86.0
10         BA    一A      F    77   77.0
11         BA    一A      M    54   54.0
12         BA    一A      M    83   75.0
13         BA    一A      M    72   66.0
14         BA    一A      M    91   93.0
15         BA    一A      F    67   73.5
16         BA    一A      M    67   69.5
17         BA    一A      F    70   79.5
18         BA    一A      M    42   34.5
19         BA    一A      F    76   41.0
20         BA    一A      M    64   76.0
21         BA    一A      F    80   75.0
22         BA    一A      M    22   39.5
23         BA    一A      F    49   49.0
24         BA    一A      M    46   57.0
25         BA    一A      M    73   72.0
26         BA    一A      M    53   54.0
27         BA    一A      F    34   28.5
28         BA    一A      M    57   50.5
29         BA    一A      M    69   42.0
30         BA    一A      M    20   18.0
31         BA    一A      F    42   51.5
32         BA    一A      M    40   28.0
33         BA    一A      M    18   29.0
34         BA    一A      F    81   84.5
35         BA    一A      M    69   70.5
36         BA    一A      M    12   15.5
37         BA    一A      M     8    2.5
38         BA    一A      M    20   12.5
39         BA    三A      F    60   45.5
40         BA    三A      M    12   25.0
41         BA    三A      M    48   42.0
42         BA    三A      M    24   35.0
43         FM    一A      F    79   97.0
44         FM    一A      F    36   37.0
45         FM    一A      M    80   84.5
46         FM    一A      F    85   87.0
47         FM    一A      F    56   73.5
48         FM    一A      F    38   36.0
49         FM    二A      F    87   84.5
50         FM    二A      F    91   75.5
51         FM    二A      M    97   98.0
52         FM    二A      F    79   75.5
53         FM    二A      F    87   93.0
54         FM    二A      F    96   94.0
55         FM    二A      F    79   81.0
56         FM    二A      F    68   70.5

In [ ]:
#使用groupby將資料以主客場分組
f=data.groupby('Gender')
#用size()看f裡面每個組別內的大小
percentage=f.size()/len(data)
#將percentage做成dataframe形式，並將資料columns命名為Percentage_VENUE
plist=pd.DataFrame(percentage,columns=["Percentage_ClassGender"])
plist

        Percentage_ClassGender
Gender
F                     0.473684
M                     0.526316

# 兩屬量變數分析：相關分析

In [ ]:
#利用numpy之相關性corr相關分析的語法
import numpy as np
np.corrcoef(data["3P"],data["PTS"])

In [ ]:
#同時想一次進行很多變數的相關分析
#量的資料
qu=['DIFF', '1Q',
       '2Q', '3Q', '4Q', 'F', 'MIN', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA',
       'OR', 'ORR', 'DRR', 'FT%', 'TOV%', 'EFG%', 'DRB%', 'ORB%', 'DR', 'TOT',
       'A', 'PF', 'ST', 'TO', 'BL', 'PTS', 'POSS', 'PACE', 'OEFF', 'DEFF',
       'REST DAYS', 'OPENING ODDS', 'SPREAD']
len(qu)

In [ ]:
#利用scipy之相關性corr相關分析的語法
#皮爾森相關分析(量*量)
from scipy import stats
name=[]
alist=[]
for i in range(len(qu)):
  #取qu變數與PTS做皮爾森相關分析，a為相關係數
  (a,pv)=stats.pearsonr(data['PTS'],data[qu[i]]) 
  name.append(qu[i])
  alist.append(a)

In [ ]:
#資料結構以DataFrame顯示 
#語法:pd.DataFrame(資料,index名稱,columns名稱)
result=pd.DataFrame(alist,name,columns=['r'])
result

# Exercise:請計算「2019STA.xlsx」檔案中小考與期中考之相關性

In [ ]:
import numpy as np
np.corrcoef(data["Quiz"],data["Exam"])
qu=['Quiz','Exam']
len(qu)
from scipy import stats
name=[]
alist=[]
for i in range(len(qu)):
  #取qu變數與PTS做皮爾森相關分析，a為相關係數
  (a,pv)=stats.pearsonr(data['Exam'],data[qu[i]]) 
  name.append(qu[i])
  alist.append(a)
result=pd.DataFrame(alist,name,columns=[''])
result

       ojinjin
Quiz  0.921447
Exam  1.000000

# 兩類別變數分析：交叉分析

In [ ]:
#語法:pd.crosstab(rows,columns,margins=True)，margins=True表顯示all，False或不命令margins則不顯示
pd.crosstab(data["W/L"],data["REST DAYS"],margins=True)

In [ ]:
#normalize=True是指每個cell除以總數所得的比例;normalize=0是指每個cell除以列的總數所得的比例;normalize=1是指每個cell除以行的總數所得的比例;
pd.crosstab(data["W/L"],data["REST DAYS"],margins=True, normalize=1)

In [ ]:
#利用groupby功能計算各球隊在不同休息天數下勝場數之差異
a=data.groupby(['TEAMS','REST DAYS']).sum()
a[["W/L"]]

# Exercise:請針對「2019STA.xlsx」檔案中的班級與性別進行交叉分析

In [ ]:
pd.crosstab(data["Exam"],data["Quiz"],margins=True) 
a=data.groupby(['Grade','Gender']).sum()
a[["Exam"]]

                Exam
Grade Gender
一A    F       1289.5
      M       1424.5
三A    F         45.5
      M        102.0
二A    F        574.0
      M         98.0

# 兩變數：類別＊屬量變數分析：平均數之比較分析

In [ ]:
#利用groupby進行分群計算平均數
a=data.groupby('W/L').mean()
a[["PTS"]]

In [ ]:
#利用groupby進行分群計算描述性統計量
a=data.groupby('W/L').describe()
a[["PTS"]]

In [ ]:
#利用groupby進行分群計算東西區、主客場之平均數
a=data.groupby(['W/E','H/R']).mean()
a[['PTS','TO','1Q','2Q','3Q','4Q']]

# Exercise:請針對「2019STA.xlsx」檔案中計算不同班級與不同性別之平均成績

In [ ]:
a=data.groupby(['Grade','Gender']).mean()
a[["Quiz","Exam"]]

                   Quiz       Exam
Grade Gender
一A    F       67.052632  67.868421
      M       55.423077  54.788462
三A    F       60.000000  45.500000
      M       28.000000  34.000000
二A    F       83.857143  82.000000
      M       97.000000  98.000000

# 作業一：請針對所提供的資料檔案(boston_house(type),xlsx)進行以下分析：
1. 請計算此資料中房價的平均數、中位數、變異數與標準差。
2. 請計算此資料中房價超過20(PRICE TYPE=2)與低於20(PRICE TYPE=0)的個數及比例。
3. 請計算是否臨近Carles River(CHAS=0 or CHAS=1)地區房價之差異。
4. 請計算是否臨近Carles River(CHAS=0 or CHAS=1)地區房價高低之差異。
5. 請分析因素與房價高低具有較高的關聯性？